<sly data-sly-use.model="com.valtech.aem.saas.api.fulltextsearch.Search"></sly>
<sly data-sly-use.template="/libs/core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=wcmmode.edit}"></sly>
<search data-sly-test="${wcmmode.disabled || wcmmode.preview}"
        data-search-config="${model.configJson}"></search>
<div data-sly-test="${wcmmode.edit}"
     class="saas-aem-module-search">
  <h2 class="saas-aem-module-search__title">${model.title @ i18n}</h2>
  <form class="saas-aem-module-search__form"
        id="searchForm">
    <div class="saas-aem-module-search__field">
      <input class="saas-aem-module-search__input"
             type="search"
             name="q"
             value="${model.term}"
             placeholder="${model.searchFieldPlaceholderText @ i18n}"
             autocomplete="off"/>
      <button class="saas-aem-module-search__submit"
              type="submit">${'com.valtech.aem.saas.core.search.submit.button.label' @ i18n}
      </button>
    </div>
  </form>
  <div class="saas-aem-module-search__results">
    <sly
        data-sly-resource="${'search-tabs' @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
  </div>
</div>
