<sly data-sly-use.model="com.valtech.aem.saas.api.fulltextsearch.SearchModel"
     data-sly-set.isEdit="${wcmmode.edit}">
</sly>
<sly data-sly-test="${isEdit}">
     <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
          data-sly-call="${clientlib.all @ categories='coralui3'}"></sly>
     <coral-alert size="L">
         <coral-alert-header>${'com.valtech.aem.saas.core.search.viewAsPublishedHintHeader.text' @ i18n}</coral-alert-header>
         <coral-alert-content>
          ${'com.valtech.aem.saas.core.search.viewAsPublishedHint.text' @ i18n} 
         </coral-alert-content>
     </coral-alert>
    <coral-alert data-sly-test="${model.connectionFailedAlert}" size="L"
                 variant="${model.connectionFailedAlert.variant.value}">
        <coral-alert-header>${'com.valtech.aem.saas.core.search.apiConnectionFail.text' @ i18n}</coral-alert-header>
        <coral-alert-content data-sly-test.messages="${model.connectionFailedAlert.messages}">
            <ul data-sly-list.message="${messages}">
                <li>${message}</li>
            </ul>
        </coral-alert-content>
    </coral-alert>
 </sly>
<search data-search-config="${model.configJson}"></search>


<div data-sly-test="${isEdit}"
 data-sly-resource="${'search-tabs' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
