.search {

  .saas-container_form {
    height: 2rem;
    padding-bottom: 45px;
  }

  .saas-container_results_item {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 17px;
  }

  .saas-container_results_item:hover {
    background-color: #ffea00;
  }

  .saas-container_results_item_description {
    color: #696969;
    font-size: 14px;
    line-height: inherit;
    margin-bottom: 0;
  }

  .saas-container_results_item_title {
    color: #202020;
    font-size: 18px;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .saas-container_results_item_url {
    color: #202020;
    font-size: 14px;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .saas-container_results_item_link_text {
    display: block;
    margin-top: 10px;
  }

  .saas-container_form input[placeholder] {
    background-color: hsla(0, 0%, 92.2%, .5411764705882353);
    color: #202020;
    font-size: 18px;
    padding: 10px 10px;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #696969;
    min-width: 550px;
  }

  .saas-container_form input[placeholder]:focus {
    background-color: #fff;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #696969;

  }

  .saas-container_tab {
    border: none;
    background-color: #202020;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 1em 1.5em;
    max-height: 3pc;
    min-width: 3pc;
    margin-right: 15px;
  }

  .saas-container_button {
    background-color: #ffea00;
    color: #696969;
    font-size: 18px;
    margin-left: 10px;
    border: 1px solid #696969;
    padding: 10px 10px;
  }

  .saas-load-more-button {
    background-color: #ffea00;
    color: #696969;
    font-size: 18px;
    margin-top: 30px;
    border: 1px solid #696969;
  }

  .saas-autocomplete {
    float: left;
  }

  .saas-container button, .saas-container_button {
    cursor: pointer;
  }

  .saas-container_results_item.saas-container_results_item--best-bet {
    background-color: #ebebeb;
  }
}

.searchredirect {

  .saas-container {
    padding-top: 10px;
  }

  .saas-container_form {
    height: 2rem;

    input[placeholder] {
      padding: 10px 10px;
      color: #202020;
      background-color: hsla(0, 0%, 92.2%, .5411764705882353);
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #696969;
    }

    input[placeholder]:focus {
      background-color: #fff;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #696969;
    }
  }


  .saas-autocomplete {
    float: left;
  }

}
