.search * {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.search a {
  text-decoration: none;
}
.search .cmp-saas__form {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 45px;
}
@media only screen and (max-width: 768px) {
  .search .cmp-saas__form {
    width: 100%;
  }
}
.search .cmp-saas__results {
  margin-top: 45px;
}
@media only screen and (max-width: 768px) {
  .search .cmp-saas__results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media only screen and (min-width: 769px) {
  .search .cmp-saas__results {
    display: grid !important;
    grid-template: 'facetsGroup resultsItems' '. loadMoreButton';
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
  }
}
.search .cmp-saas__results-items {
  display: grid;
  grid-area: resultsItems;
  grid-auto-rows: 1fr;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .search .cmp-saas__results-items {
    grid-template-columns: repeat(2, 50%);
  }
}
@media only screen and (min-width: 992px) {
  .search .cmp-saas__results-items {
    grid-template-columns: repeat(3, 33.3333%);
  }
}
.search .cmp-saas__results-item {
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #eaeaea;
  box-shadow: 0 0 0 1px #eaeaea;
  min-height: 200px;
  position: relative;
  -webkit-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}
@media (prefers-color-scheme: dark) {
  .search .cmp-saas__results-item {
    background-color: #fff;
  }
}
@media only screen and (max-width: 768px) {
  .search .cmp-saas__results-item {
    margin: 15px 0 0;
  }
}
@media only screen and (min-width: 769px) {
  .search .cmp-saas__results-item {
    margin: 0 0 15px 15px;
  }
}
@media only screen and (min-width: 992px) {
  .search .cmp-saas__results-item:hover {
    -webkit-box-shadow: 0 0 0 1px #ffea00;
    box-shadow: 0 0 0 1px #ffea00;
  }
}
.search .cmp-saas__results-item-description {
  color: dimgray;
  font-size: 14px;
  line-height: inherit;
  margin-top: 30px;
  text-align: start;
}
.search .cmp-saas__results-item-title {
  color: #202020;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.search .cmp-saas__results-item-title:after {
  border-bottom: 2px solid #ffea00;
  content: '';
  display: block;
  padding-top: 8px;
  width: 84px;
}
.search .cmp-saas__results-item-url {
  color: #202020;
  display: block;
  font-size: 14px;
  height: 100%;
  padding: 15px;
  word-break: break-word;
}
.search .cmp-saas__results-item-link-text {
  color: #0d66d0;
  display: none;
  font-size: 12px;
  word-break: break-all;
}
.search .cmp-saas__form input[placeholder] {
  background-color: hsla(0, 0%, 92%, 0.541);
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #202020;
  font-size: 16px;
  outline: none !important;
  padding: 15px;
  -webkit-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}
.search .cmp-saas__form input[placeholder]:focus {
  background-color: #fff;
  border: 1px solid #202020;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
}
@media only screen and (max-width: 768px) {
  .search .cmp-saas__form input[placeholder] {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .search .cmp-saas__form input[placeholder] {
    min-width: 550px;
  }
}
.search .cmp-saas__tab {
  background-color: #202020;
  color: #fff;
  margin-bottom: 15px;
  margin-right: 15px;
  max-height: 3pc;
  min-width: 3pc;
  padding: 1em 1.5em;
}
.search .cmp-saas__button,
.search .cmp-saas__tab {
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}
.search .cmp-saas__button {
  background-color: unset;
  color: #202020;
  line-height: 1.5;
  padding: 17px;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}
@media only screen and (max-width: 768px) {
  .search .cmp-saas__button {
    margin-top: 15px;
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .search .cmp-saas__button {
    margin-left: 10px;
  }
}
.search .cmp-saas__button:after {
  background-color: #ffea00;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.search .cmp-saas__button:before {
  background-color: #e6d300;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
  z-index: -1;
}
@media only screen and (min-width: 992px) {
  .search .cmp-saas__button:hover:before {
    width: 100%;
  }
}
.search .cmp-saas__load-more-button {
  background-color: unset;
  border: none;
  color: #202020;
  font-size: 14px;
  grid-area: loadMoreButton;
  line-height: 1.5;
  margin: 30px auto;
  padding: 17px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}
@media only screen and (max-width: 768px) {
  .search .cmp-saas__load-more-button {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .search .cmp-saas__load-more-button {
    width: 250px;
  }
}
.search .cmp-saas__load-more-button:after {
  background-color: #ffea00;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.search .cmp-saas__load-more-button:before {
  background-color: #e6d300;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
  z-index: -1;
}
@media only screen and (min-width: 992px) {
  .search .cmp-saas__load-more-button:hover:before {
    width: 100%;
  }
}
.search .cmp-saas__button,
.search .cmp-saas button {
  cursor: pointer;
}
.search .cmp-saas__results-item.cmp-saas__results-item--best-bet {
  background-color: #ebebeb;
}
.search #suggestions {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
}
.search #suggestions .saas-suggestions-element {
  background: #fff;
  color: #202020;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}
.search #suggestions .saas-suggestions-element:last-child {
  border-bottom: 1px solid #d4d4d4;
}
@media only screen and (min-width: 992px) {
  .search #suggestions .saas-suggestions-element:hover {
    background-color: #202020;
    color: #e9e9e9;
  }
}
.search #suggestions .saas-suggestions-element--active {
  background-color: #1e90ff !important;
  color: #fff;
}
.search .cmp-saas-autocomplete {
  display: inline-block;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .search .cmp-saas-autocomplete {
    width: 100%;
  }
}
.search .saas-facets-groups {
  background-color: hsla(0, 0%, 92%, 0.541);
  border-radius: 4px;
  grid-area: facetsGroup;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 150px;
  overflow: visible;
  padding: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.search .saas-facets-group {
  margin-bottom: 20px;
}
.search .saas-facets-group__title {
  color: #202020;
  margin: 0;
}
.search .saas-facet {
  color: #202020;
  margin-top: 5px;
}
.search .saas-facet-label {
  cursor: pointer;
  margin-left: 5px;
}
.search .saas-facet--no-result {
  color: #cecece;
  pointer-events: none;
}
.search-redirect .cmp-saas {
  padding-top: 10px;
}
.search-redirect .cmp-saas__form {
  height: 2rem;
}
.search-redirect .cmp-saas__form input[placeholder] {
  background-color: hsla(0, 0%, 92%, 0.541);
  border: 1px solid dimgray;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #202020;
  outline: none !important;
  padding: 10px;
}
.search-redirect .cmp-saas__form input[placeholder]:hover {
  background-color: #fff;
  border: 1px solid dimgray;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
}
.search-redirect .cmp-saas-autocomplete {
  float: left;
}
