// #############
// Sample colors
// #############
$color-1: #eaeaea;
$color-2: #ffffff;
$color-3: #ffea00;
$color-3-darken: darken(#ffea00, 2%);
$color-4: #696969;
$color-5: #202020;
$color-6: #0d66d0;
$color-7: hsla(0, 0%, 92.2%, 0.5411764705882353);
$color-8: #ebebeb;
$color-9: #d4d4d4;
$color-10: rgb(0 0 0 / 25%);
$color-11: #e9e9e9;
$color-12: DodgerBlue;
$color-13: #cecece;
