<sly data-sly-use.cmp="com.valtech.aemsaas.core.models.sling.components.caconfigdemo.CaConfigDemo"></sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = true}"></sly>
CaConfig (Sling model):<br/>
index: ${cmp.searchConfiguration.index}<br/>
filters:<br/>
<sly data-sly-list.filter="${cmp.searchFilters}">
  name -> value: ${filter.name} -> ${filter.value}<br/>
</sly>
<br/>
CaConfig (htl script object):<br/>
index: ${caconfig['com.valtech.aemsaas.core.caconfig.SearchConfiguration'].index}<br/>
filters:<br/>
<sly data-sly-list.filter="${caconfig['com.valtech.aemsaas.core.caconfig.SearchConfiguration'].searchFilters}">
  name -> value: ${filter.name} -> ${filter.value}<br/>
</sly>
