<sly data-sly-template.resultItem="${@ model, count}">
  <a class="saas-aem-module-search__results-item"
     x-cq-linkchecker="skip"
     href="${model.url}">
    <div class="saas-aem-module-search__results-item-content">
      <h3 class="saas-aem-module-search__results-item-title">${'{0}. {1}' @ format=[count,model.title],
        context='unsafe'}</h3>
      <div class="saas-aem-module-search__results-item-url">
        <cite>${model.url}</cite>
      </div>
      <div class="saas-aem-module-search__results-item-description">
        <span>${model.description @ context='unsafe'}</span>
      </div>
    </div>
  </a>
</sly>
