scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/saas-aem-module
        create path (nt:unstructured) /content/dam/saas-aem-module/jcr:content
        set properties on /content/dam/saas-aem-module/jcr:content
        set cq:conf{String} to /conf/saas-aem-module
        set jcr:title{String} to \"Valtech AEM SAAS\"
        end
        "
]
