<sly data-sly-use.model="com.valtech.aem.saas.api.fulltextsearch.SearchResults"></sly>
<sly data-sly-use.template="/libs/core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=wcmmode.edit}"></sly>

<div class="saas-search-result-tab-wrapper hidden"
     data-sly-test="${!wcmmode.edit}"
     saas-search-result-tab-wrapper>
  <div class="saas-filtered-content">
    <div class="saas-wrap-filtered-content">
      <div class="search-type search-normal-hit" saas-search-results-list>
        <sly
            data-sly-use.resultItemTemplate="/apps/saas-aem-module/components/saas/searchresults/resultitem-template.html"
            data-sly-list.result="${model.results}">
          <sly data-sly-call="${resultItemTemplate.resultItem @ model=result, count=resultList.count}"></sly>
        </sly>
      </div>

    </div>
    <div>
      <form data-sly-test.term="${model.term}"
            id="loadMore" action="${currentPage.path @ extension='html'}">
        <input data-sly-test="${wcmmode.disabled}" type="hidden" name="wcmmode" value="disabled">
        <input type="hidden"
               name="term"
               value="${term}"/>
        <input type="hidden" name="start" value=0>
        <input type="hidden" name="rows" value="${model.loadMoreRows}">
        <button type="submit">${model.loadMoreButtonText}</button>
      </form>
    </div>
  </div>
</div>
